#gtitle {
    background-color: black;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: fit-content;
    padding-bottom: 0.3rem;
    text-align: center;
    margin: 0;
    color:red;
}
* {
  font-family: 'Pirata One', cursive;
}
#menutitle {
    font-size: 2rem;
}

#tabbtn {
    background-color: hsl(0, 0%, 100%);
    width: 5rem;
    height: 5rem;
    background-image: url(tlines.png);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

#tabdiv {
    position: absolute;
    width: 12rem;
    height: 38rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    display: none;
}
#tabdivtitle {
    margin-top: 4rem;
    position: absolute;
}
.btndivtitle {
    margin-top: 4rem;
    width: inherit;
    position: absolute;
    display: none;
}

.tabdivbtn {
    width: 11rem;
    height: 3rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0,5rem;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 0%, 100%);
}


#contcontent {
    padding: 1rem;
}
#infotext {
    padding: 1rem;
}
#infotitle {
    font-size: 2rem;
}
#settingstitle {
    font-size: 2rem;
}
#conttitle {
    font-size: 1.4rem;
}

#settingscontent {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#container {
    position: absolute;
}
#rollbtn {
    background-image: linear-gradient(to right, black, white, black, white, black, white);
    color: red;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: fit-content;
    height: 3rem;
}

#contbtn {
    height: fit-content;
}

.bordneed {
    border: 0.2rem solid black;
}


button {
    cursor: pointer;
    transition: transform 0.1s ease, filter 0.1s ease;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
}

button:active {
    transform:scale(0.95); 
}

button:hover {
    filter: brightness(0.85);
}

#usernameInput {
    width: 24rem;
    height: 2rem;    
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

#gaydiv {
    margin-top: 1.5rem;
    margin-left: 14rem;
    margin-right: 4rem;
    border-radius: 1rem;
    padding: 0.5rem;
    width: if(media(width < 1000px):fit-content; else: 34rem);
    height: fit-content;
    display: flexbox;
    background-color: rgb(255, 255, 255);
}

#gbar {
    width: 20rem;
    height: 2rem;
    filter: saturate(0);
    border-radius: 0.5rem;
    transform: scaleX(-1);
}

#gbararrow {
    width: 1rem;
    height: 2rem;
    position: absolute;
    left: -0.4rem;
    top: 1.2rem;
}

#gbarl {
    position: absolute;
    box-sizing: border-box;
    background-color: transparent;
    left: 0;
    width: 20rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    z-index: 0;
}
#imgcontainer {
    position: relative;
    display: inline-block;
}



#tex {
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(to right, gray, white, gray, white, gray, white);
    background-clip: text;
    color: transparent;
}


#descdiv {
    border-radius: 1rem;
    padding: 0.5rem;
}

#togbtn {
    width: 11rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    font-weight: bold;
    background-color: black;
    color: darkgray;
}

#skebobbtn {
    width: 11rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-weight: bold;
    background-image: url(skebob.jpg);
    background-size: contain;
    color: white;
}

#looksmaxdiv {
    width: 20rem;
    height: 30rem;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-right: 40%;
    font-weight: bold;
    background-color: antiquewhite;
    background-size: contain;
    border: 0.2rem solid white;
    border-radius: 1rem;
    z-index: 9999;
    position: absolute;
    padding: 1rem;
}

#sigmagif {
    height: 20rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
}

body {
    text-align: justify;
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
}